fig.1
doc/fig.1.ronn
*.patch
*.swp
.swp
*.bak
.version
.version-prev
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/install-sh
build-aux/missing
completions/_fig
completions/fig
config.log
config.status
configure
aminclude.am
/fig
fig-*
